button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner,
buttonTransparent
{ border: none; }
.buttonTransparent {
  position: absolute;
  left: 66px;
  top: 152px;
  height: 100px;
  width: 100px;
  color: transparent;
  border-color: none;
  background-color: transparent;
  border-color: transparent;
  cursor: default;
  outline: none;
}
buttonWurfTransparent
{ border: none; }
.buttonWurfTransparent {
  position: absolute;
  left: 75px;
  top: 270px;
  height: 67px;
  width: 128px;
  color: transparent;
  border-color: none;
  background-color: transparent;
  border-color: transparent;
  cursor: default;
  outline: none;
}
#verdopppler {
  position: absolute;
  width: 390px;
  left: 400px;
  top: 15px;
}
#head {
  position: absolute;
  width: 390px;
  height: 210px;
}
#statistik {
  position: absolute;
  width: 400px;
  left: 781px;
  top: 0px;
}
#wurf {
  position: absolute;
  width: 350px;
  top: 342px;
  height: 450px;
  overflow: auto;
}
#aktuellerWurf {
  position: absolute;
  left: 80px;
  width: 125px;
  top: 261px;
  height: 55px;
}
.chartTitle {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color:#5F5F5F;
  text-align: center;
}
.text {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color:#5F5F5F;
  text-align: left;
}
.title {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 24px;
  color:#000000;
  text-align: center;
}
#ZeitBox01 {
  position: relative;
  top: 0px;
  left: 0px;
  width: 200px;
  height: 26px;
  margin: 0px;
  padding: 0px;
  border: none;
}
#ZeitAnzeige {
  position: absolute;
  top: 0px;
  left: 0px;
  background: transparent;
  width: 200px;
  line-height: 26px;
  text-align: left;
  color: #000000;
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 12px;
  font-weight: normal;
}
#legend {
  position: absolute;
  width: 200px;
  left: 1181px;
  top: 20px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color:#5F5F5F;
  font-size: 12px;
}
.chart-legend li span{
  display: inline-block;
  width: 12px;
  height: 12px;
}
#legendAccesskeys {
  position: absolute;
  width: 200px;
  left: 1208px;
  top: 80px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color:#5F5F5F;
  font-size: 12px;
}
