    .buttonGrey {
        background-color: grey;
    }
    .buttonTransparent {
	position: absolute;
        height: 100px;
        width: 100px;
	color: transparent;
	background-color: transparent;
	border-color: transparent;
	cursor: default;
    }
    #verdopppler {
      position: absolute;
      width: 390px;
      left: 400px;
      top: 14px;
    }
    #head {
      position: absolute;
      width: 390px;
      height: 400px;
    }
    #statistik {
      position: absolute;
      width: 400px;
      top: 14px;
      left: 781px;
    }
    #wurf {
      position: absolute;
      width: 390px;
      top: 270px;
      height: 550px;
      overflow: auto;
    }
