    .buttonGrey {
        background-color: grey;
    }
    .buttonTransparent {
	position: absolute;
	left: 47px;
	top: 67px;
        height: 100px;
        width: 100px;
	color: transparent;
	background-color: transparent;
	border-color: transparent;
	cursor: default;
    }
    #verdopppler {
      position: absolute;
      left: 400px;
      top: 14px;
    }
    #wuerfel {
      position: absolute;
      width: 400px;
      height: 400px;
    }
    #statistik {
      position: absolute;
      width: 400px;
      top: 400px;
      left: 400px;
    }
